/* Importing all the fonts with weights */
@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaThin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaAltRegular.otf);
    font-weight: 200;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaSemibold.otf);
    font-weight: 300;
}

@font-face {
    font-family: Proxima Nova;
    src: url('fonts/Proxima Nova Semibold.otf');
    font-weight: 400;
}

a, a:hover {
    text-decoration: none !important;
}

body {
    overflow-x: hidden !important;
}

.input-area {
    max-width: 540px;
    width: 100%;
    margin: 6vh auto;
}

@media screen and (max-width: 620px) {
    .input-area {
        margin-left: 5vh;
        margin-right: 5vh;
    }
}

.input-text-main {
    font-family: Proxima Nova;
    font-weight: 100;
    font-size: 36px;
    color: #000;
}

.input-text {
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 200;
    color: black;
}

input.text-bar {
  margin: 0 auto;
  margin-top: 10px;
  margin-right: 10px;
  width: 50%;
  height: 45px;
  padding: 0 20px;
  border: 1px solid #E7E5DF;
  border-radius: 5px;
  outline: none;
}

input.text-bar:focus {
  border: 1px solid #E7E5DF;
  transition: 0.35s ease;
  color: #D65553;
}

input.text-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input.text-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input.text-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

textarea.text-area {
  margin: 0 auto;
  margin-top: 10px;
  margin-right: 10px;
  width: 92%;
  height: 100px;
  padding: 10px 20px;
  border: 1px solid #E7E5DF;
  border-radius: 5px;
  outline: none;
}

.submit-button {
    border: 1px solid #282C34;
    margin-top: 20px;
    width: 150px;
    height: 35px;
    background-color: #282C34;
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 100;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.add-more-button {
    width: 35px;
    height: 35px;
    background-color: #282C34;
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border-radius: 35px;
    text-align: center;
    margin-right: 10px;
}

.fa {
    padding-right: 8px;
}


/* RESUME CSS */

a, a:hover {
    text-decoration: none !important;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

/* Print paper CSS layout -- begins */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

/* Print paper CSS layout -- ends */


/* Fonts */

.first-name {
    font-family: Proxima Nova;
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.last-name {
    font-family: Proxima Nova;
    font-weight: 100;
    font-size: 24px;
    color: #C0C0C0;
}

.contact-detail {
    font-family: Proxima Nova;
    font-weight: 100;
    font-size: 10px;
    color: #000;
}

.section-title {
    font-family: Proxima Nova;;
    font-weight: 200;
    font-size: 14px;
    color: #000;
}

.details-title {
    font-family: Proxima Nova;;
    font-weight: 200;
    font-size: 14px;
    color: #000;
}

.location {
    font-family: Proxima Nova;;
    font-weight: 100;
    font-size: 10px;
    color: #000;
}

.position {
    font-family: Proxima Nova;;
    font-weight: 100;
    font-size: 12px;
    color: #000;
}

.skill-class {
    font-family: Proxima Nova;
    font-weight: 200;
    font-size: 10px;
    color: #000;
}

.skill-set {
    font-family: Proxima Nova;
    font-weight: 100;
    font-size: 10px;
    color: #000;
}

.duration {
    font-family: Proxima Nova;
    font-weight: 100;
    font-size: 10px;
    color: #000;
}

.summary {
    font-family: Proxima Nova;
    font-weight: 100;
    font-size: 12px;
    color: #000;
    width: 550px;
}

/* Layout CSS */
.intro {
    margin-top: 0px;
}

.name {
    width: 50%;
    float: left;
    text-align: left;
}

.contact {
    width: 50%;
    float: left;
    text-align: left;
    margin-top: 10px;
}

.section {
    margin-top: 20px;
}

.details {
    margin-left: 10px;
    margin-bottom: 10px;
}

.details > p {
    margin: 0;
}
