/* font-family: 'Raleway', sans-serif; */

/* Importing all the fonts with weights */
@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaThin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaAltRegular.otf);
    font-weight: 200;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaSemibold.otf);
    font-weight: 300;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaBold.otf);
    font-weight: 400;
}

/* Print paper CSS layout -- begins */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

/* Print paper CSS layout -- ends */


/* Fonts */

.first-name {
    font-family: Proxima Nova;
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.last-name {
    font-family: Proxima Nova;
    font-weight: 100;
    font-size: 24px;
    color: #C0C0C0;
}

.contact-detail {
    font-family: Proxima Nova;
    font-weight: 100;
    font-size: 10px;
    color: #C0C0C0;
}

.section-title {
    font-family: Proxima Nova;;
    font-weight: 200;
    font-size: 14px;
    color: #000;
}

.details-title {
    font-family: Proxima Nova;;
    font-weight: 200;
    font-size: 14px;
    color: #000;
}

.location {
    font-family: Proxima Nova;;
    font-weight: 100;
    font-size: 10px;
    color: #000;
}

.position {
    font-family: Proxima Nova;;
    font-weight: 100;
    font-size: 12px;
    color: #000;
}

.skill-class {
    font-family: Proxima Nova;
    font-weight: 200;
    font-size: 10px;
    color: #000;
}

.skill-set {
    font-family: Proxima Nova;
    font-weight: 100;
    font-size: 10px;
    color: #000;
}

.duration {
    font-family: Proxima Nova;
    font-weight: 100;
    font-size: 10px;
    color: #000;
}

.summary {
    font-family: Proxima Nova;
    font-weight: 100;
    font-size: 12px;
    color: #000;
    width: 550px;
}

/* Layout CSS */
.intro {
    margin-top: 10px;
}

.name {
    width: 50%;
    float: left;
    text-align: left;
}

.contact {
    width: 50%;
    float: left;
    text-align: left;
    margin-top: 10px;
}

.section {
    margin-top: 30px;
}

.details {
    margin-left: 10px;
    margin-bottom: 10px;
}

.details > p {
    margin: 0;
}

